.big-needle {
    background-image: url("/assets/images/needle-big.png");
    background-repeat: no-repeat;
    height: 90px;
    left: 115px;
    position: absolute;
    top: 19px;
    width: 6px;
    padding-bottom: 10px;
    transform-origin: center bottom;
}

.small-needle {
    background-image: url("/assets/images/needle-small.png");
    background-repeat: no-repeat;
    height: 56px;
    left: 117px;
    padding-bottom: 10px;
    position: absolute;
    width: 2px;
    top: 53px;
    transform-origin: center bottom;
}

.counter {
    color: white;
    height: 40px;
    font-size: 23px;
    left: 78px;
    line-height: 39px;
    position: absolute;
    text-align: right;
    top: 141px;
    width: 76px;
    /*background-color: pink;*/
}

.isSpeed {
    font-size: 32px;
    letter-spacing: 8px;
    padding-left: 6px;
    text-align: center;
}