<div class="dashboard">
  <!-- Gauges -->
  <sd-gauge class="gauge leftGauge" [amount]="150" 
        [bigNeedleDeg]="200" [isSpeed]="true"></sd-gauge>
  <div class="infoPanel leftInfo">
    <div class="min"> Minimum </div>
    <div class="max"> Maximum </div>
    <div class="average"> Average </div>
  </div>
  <sd-gauge class="gauge rightGauge" [amount]="1200.0"
        [bigNeedleDeg]="60" [smallNeedleDeg]="275" [isSpeed]="false"></sd-gauge>
  <div class="infoPanel rightInfo">
    <div class="min"> Minimum </div>
    <div class="max"> Maximum </div>
    <div class="average"> Average </div>
  </div>
  <!-- TODO - Switches here -->
  <sd-switch class="switch top" [current]="currentLanding" [positionNumber]="2"
          (changed)="landingChanged($event)"></sd-switch>
  <sd-switch class="switch bottom" [current]="currentFlaps" [positionNumber]="6"
          (changed)="flapsChanged($event)"></sd-switch>
  <!-- Connection status -->
  <div class="status">
    <div *ngIf="status == 0" class="icon off">Disconnected</div> 
    <div *ngIf="status == 1" class="icon wait">Connecting</div> 
    <div *ngIf="status == 2" class="icon on">Connected</div> 
  </div>
</div>